*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.red{
    color:red;
}

/* FINE UTILITY */

/* LAYOUT */

main .container{
    padding: 75px 90px 0px 90px; /* il padding-bottom non funziona, non riesco a fare in modo che il contenuto shrinki a seconda del limite imposto dal padding*/
    height: calc(100vh - 60px);
}

footer .container{
    height:60px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-7{
    width: calc(100%/7);
}

.content{
    margin:7px;
}

/* FINE LAYOUT */

.content img{
    max-width: 100%;
    height: auto;
    display:block;
}




/* BACKGROUNDS */

.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: rgb(50, 50, 50);
}

/* FINE BACKGROUNDS */
