*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

header{
    background-color: black;
    height:60px;
}

.speaker{
    text-align: right;
    padding-right:10px;
    padding-top:10px;
}

.speaker span{
    background-color: rgba(100, 100, 100, .55);
    padding: 3px 6px;
    border-radius: 10px;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.red{
    color:red;
}

.full-height{
    height:100%;
}

/* FINE UTILITY */

/* LAYOUT */

main .container{
    max-width: 1300px;
    margin:0 auto;
    height: calc(100vh - 120px);
}

footer .container{
    height:60px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    height:60px;
}

.col-7{
    width: calc(100%/7);
}

.content{
    margin:5px;
}

/* FINE LAYOUT */

.content img{
    max-width: 100%;
    height: auto;
    display:block;
}

.col-7 .content{
    position:relative;
}

.info-utente{
    align-items:center ;
    display: flex;
    padding:3px 6px;
    font-size: .65em;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color: rgba(100, 100, 100, .55);
}

.info-utente img{
    height:15px;
    display: inline-block;
}

/* BACKGROUNDS */

.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: rgb(50, 50, 50);
}

/* FINE BACKGROUNDS */
